apiVersion: v2
name: wlan-cloud-ucentral
appVersion: "1.0"
description: A Helm chart for Kubernetes
version: 2.1.0-RC1
dependencies:
- name: ucentralgw
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw@helm?ref=v2.1.0-RC1"
  version: 0.1.0
- name: ucentralsec
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralsec@helm?ref=v2.1.0-RC1"
  version: 0.1.0
- name: ucentralfms
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralfms@helm?ref=v2.1.0-RC1"
  version: 0.1.0
- name: ucentralgwui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw-ui@helm?ref=v2.1.0-RC1"
  version: 0.1.0
  condition: ucentralgwui.enabled
- name: rttys
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw-rtty@chart?ref=v0.1.0"
  version: 0.1.0
  condition: rttys.enabled
- name: kafka
  repository: https://charts.bitnami.com/bitnami
  version: 13.0.2
  condition: kafka.enabled
