apiVersion: v2
name: openwifi
appVersion: "1.0"
description: A Helm chart for Kubernetes
version: 2.7.2
dependencies:
- name: owgw
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw@helm?ref=v2.7.2"
  version: 0.1.0
- name: owsec
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralsec@helm?ref=v2.7.0"
  version: 0.1.0
- name: owfms
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralfms@helm?ref=v2.7.0"
  version: 0.1.0
- name: owprov
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owprov@helm?ref=v2.7.0"
  version: 0.1.0
- name: owanalytics
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-analytics@helm?ref=v2.7.0"
  version: 0.1.0
- name: owgwui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw-ui@helm?ref=v2.7.0"
  version: 0.1.0
- name: owprovui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owprov-ui@helm?ref=v2.7.0"
  version: 0.1.0
- name: owsub
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-userportal@helm?ref=v2.7.0"
  version: 0.1.0
- name: owrrm
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-rrm@helm?ref=v2.7.0"
  version: 0.1.0
- name: kafka
  repository: https://tip.jfrog.io/artifactory/tip-wlan-cloud-ucentral-helm/
  version: 13.0.2
  condition: kafka.enabled
- name: owls
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owls@helm?ref=main"
  version: 0.1.0
  condition: owls.enabled
- name: owlsui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owls-ui@helm?ref=master"
  version: 0.1.0
  condition: owlsui.enabled
- name: haproxy
  repository: https://tip.jfrog.io/artifactory/tip-wlan-cloud-ucentral-helm/
  version: 0.2.21
  condition: haproxy.enabled
- name: postgresql-ha
  repository: https://tip.jfrog.io/artifactory/tip-wlan-cloud-ucentral-helm/
  version: 8.6.13
  condition: postgresql-ha.enabled
