apiVersion: v2
name: openwifi
appVersion: "1.0"
description: A Helm chart for Kubernetes
version: 0.1.0
dependencies:
- name: owgw
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw@helm?ref=master"
  version: 0.1.0
- name: owsec
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralsec@helm?ref=main"
  version: 0.1.0
- name: owfms
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralfms@helm?ref=main"
  version: 0.1.0
- name: owprov
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owprov@helm?ref=main"
  version: 0.1.0
- name: owanalytics
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-analytics@helm?ref=main"
  version: 0.1.0
- name: owgwui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-ucentralgw-ui@helm?ref=main"
  version: 0.1.0
- name: owprovui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owprov-ui@helm?ref=main"
  version: 0.1.0
- name: owsub
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-userportal@helm?ref=main"
  version: 0.1.0
- name: owrrm
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-rrm@helm?ref=main"
  version: 0.1.0
- name: owls
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owls@helm?ref=main"
  version: 0.1.0
  condition: owls.enabled
- name: owlsui
  repository: "git+https://github.com/Telecominfraproject/wlan-cloud-owls-ui@helm?ref=master"
  version: 0.1.0
  condition: owlsui.enabled
- name: kafka
  repository: oci://registry-1.docker.io/bitnamicharts
  version: 28.2.3
  condition: kafka.enabled
- name: haproxy
  repository: oci://registry-1.docker.io/bitnamicharts
  version: 0.13.3
  condition: haproxy.enabled
- name: postgresql
  repository: oci://registry-1.docker.io/bitnamicharts
  version: 13.4.3
  condition: postgresql.enabled
