version: '3'

volumes:
  owgw_data:
    driver: local
  owsec_data:
    driver: local
  owfms_data:
    driver: local
  zookeeper_data:
    driver: local
  zookeeper_datalog:
    driver: local
  kafka_data:
    driver: local

networks:
  openwifi:

services:
  owgw:
    image: "tip-tip-wlan-cloud-ucentral.jfrog.io/owgw:${OWGW_TAG}"
    networks:
      openwifi:
        aliases:
          - ${INTERNAL_OWGW_HOSTNAME}
    env_file:
      - owgw.env
    depends_on:
      - kafka
      - rttys
    restart: unless-stopped
    volumes:
      - owgw_data:${OWGW_ROOT}/persist
      - ./certs:/${OWGW_ROOT}/certs

  ucentralgw-ui:
    image: "tip-tip-wlan-cloud-ucentral.jfrog.io/owgw-ui:${OWGWUI_TAG}"
    networks:
      openwifi:
        aliases:
          - ${INTERNAL_OWGWUI_HOSTNAME}
    env_file:
      - owgw-ui.env
    depends_on:
      - owsec
      - owgw
      - owfms
    restart: unless-stopped

  owsec:
    image: "tip-tip-wlan-cloud-ucentral.jfrog.io/owsec:${OWSEC_TAG}"
    networks:
      openwifi:
        aliases:
          - ${INTERNAL_OWSEC_HOSTNAME}
    env_file:
      - owsec.env
    depends_on:
      - kafka
    restart: unless-stopped
    volumes:
      - owsec_data:${OWSEC_ROOT}/persist
      - ./certs:/${OWSEC_ROOT}/certs

  owfms:
    image: "tip-tip-wlan-cloud-ucentral.jfrog.io/owfms:${OWFMS_TAG}"
    networks:
      openwifi:
        aliases:
          - ${INTERNAL_OWFMS_HOSTNAME}
    env_file:
      - owfms.env
    depends_on:
      - kafka
    restart: unless-stopped
    volumes:
      - owfms_data:${OWFMS_ROOT}/persist
      - ./certs:/${OWFMS_ROOT}/certs

  rttys:
    image: "tip-tip-wlan-cloud-ucentral.jfrog.io/rttys:${RTTYS_TAG}"
    networks:
      openwifi:
        aliases:
          - ${INTERNAL_RTTYS_HOSTNAME}
    restart: unless-stopped
    volumes:
      - ./certs/restapi-cert.pem:/etc/rttys/restapi-cert.pem
      - ./certs/restapi-key.pem:/etc/rttys/restapi-key.pem
      - ./rttys/rttys.conf:/rttys/rttys.conf

  zookeeper:
    image: "zookeeper:${ZOOKEEPER_TAG}"
    networks:
      openwifi:
    restart: unless-stopped
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog

  kafka:
    image: "docker.io/bitnami/kafka:${KAFKA_TAG}"
    networks:
      openwifi:
    env_file:
      - kafka.env
    restart: unless-stopped
    depends_on:
      - zookeeper
    volumes:
      - kafka_data:/bitnami/kafka

  traefik:
    image: "traefik:${TRAEFIK_TAG}"
    networks:
      openwifi:
    env_file:
      - traefik.env
    depends_on:
      - owsec
      - owgw
      - ucentralgw-ui
      - owfms
      - rttys
    restart: unless-stopped
    ports:
      - "15002:15002"
      - "16002:16002"
      - "16003:16003"
      - "80:80"
      - "443:443"
      - "16001:16001"
      - "16004:16004"
      - "5913:5913"
