version: '3'

volumes:
  postgresql_data:
    driver: local

services:
  owgw:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owgw"]

  owsec:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owsec"]

  owfms:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owfms"]

  owprov:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owprov"]

  owanalytics:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owanalytics"]

  owsub:
    depends_on:
      - postgresql
    command: ["./wait-for-postgres.sh", "postgresql", "/openwifi/owsub"]

  postgresql:
    image: "postgres:${POSTGRESQL_TAG}"
    networks:
      openwifi:
    env_file:
      - postgresql.env
    restart: unless-stopped
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./postgresql/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
