version: '3'

volumes:
  letsencrypt_certs:
    driver: local

services:
  owgw:
    env_file:
      - .env.letsencrypt

  owsec:
    env_file:
      - .env.letsencrypt

  owfms:
    env_file:
      - .env.letsencrypt

  rttys:
    volumes:
      - "./rttys/rttys_letsencrypt.conf:/rttys/rttys.conf"

  traefik:
    env_file:
      - .env.letsencrypt
    volumes:
      - "./traefik/openwifi_letsencrypt.yaml:/etc/traefik/openwifi.yaml"
      - "./certs/restapi-ca.pem:/certs/restapi-ca.pem"
      - "letsencrypt_certs:/letsencrypt"
