version: '3'

services:
  owgw:
    env_file:
      - .env.selfsigned

  owsec:
    env_file:
      - .env.selfsigned

  owfms:
    env_file:
      - .env.selfsigned

  rttys:
    volumes:
      - "./certs/restapi-cert.pem:/etc/rttys/restapi-cert.pem"
      - "./certs/restapi-key.pem:/etc/rttys/restapi-key.pem"
      - "./rttys/rttys_selfsigned.conf:/rttys/rttys.conf"

  traefik:
    volumes:
      - "./traefik/openwifi_selfsigned.yaml:/etc/traefik/openwifi.yaml"
      - "./certs/restapi-ca.pem:/certs/restapi-ca.pem"
      - "./certs/restapi-cert.pem:/certs/restapi-cert.pem"
      - "./certs/restapi-key.pem:/certs/restapi-key.pem"
