tls:
  certificates:
    - certFile: /certs/restapi-cert.pem
      keyFile: /certs/restapi-key.pem

http:
  services:
    ucentralgw-ui:
      loadBalancer:
        servers:
          - url: "http://ucentralgw-ui.wlan.local:80/"

  routers:
    ucentralgw-ui-http:
      entryPoints: "ucentralgwuihttp"
      service: "ucentralgw-ui"
      rule: "PathPrefix(`/`)"

    ucentralgw-ui-https:
      entryPoints: "ucentralgwuihttps"
      service: "ucentralgw-ui"
      rule: "PathPrefix(`/`)"
      tls: {}

tcp:
  services:
    owgw-websocket:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:15002"
    owgw-restapi:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:16002"
    owgw-fileupload:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:16003"
    owsec-restapi:
      loadBalancer:
        servers:
          - address: "owsec.wlan.local:16001"
    owfms-restapi:
      loadBalancer:
        servers:
          - address: "owfms.wlan.local:16004"
    rttys:
      loadBalancer:
        servers:
          - address: "rttys.wlan.local:5913"

  routers:
    owgw-websocket:
      entryPoints: "owgwwebsocket"
      service: "owgw-websocket"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owgw-restapi:
      entryPoints: "owgwrestapi"
      service: "owgw-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owgw-fileupload:
      entryPoints: "owgwfileupload"
      service: "owgw-fileupload"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owsec-restapi:
      entryPoints: "owsecrestapi"
      service: "owsec-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owfms-restapi:
      entryPoints: "owfmsrestapi"
      service: "owfms-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    rttys:
      entryPoints: "rttys"
      service: "rttys"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
