tls:
  certificates:
    - certFile: /certs/restapi-cert.pem
      keyFile: /certs/restapi-key.pem

http:
  services:
    owgw-ui:
      loadBalancer:
        servers:
          - url: "http://owgw-ui.wlan.local:80/"

    owprov-ui:
      loadBalancer:
        servers:
          - url: "http://owprov-ui.wlan.local:80/"

  routers:
    owgw-ui-http:
      entryPoints: "owgwuihttp"
      service: "owgw-ui"
      rule: "PathPrefix(`/`)"

    owgw-ui-https:
      entryPoints: "owgwuihttps"
      service: "owgw-ui"
      rule: "PathPrefix(`/`)"
      tls: {}

    owprov-ui-http:
      entryPoints: "owprovuihttp"
      service: "owprov-ui"
      rule: "PathPrefix(`/`)"

    owprov-ui-https:
      entryPoints: "owprovuihttps"
      service: "owprov-ui"
      rule: "PathPrefix(`/`)"
      tls: {}

tcp:
  services:
    owgw-websocket:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:15002"
    owgw-restapi:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:16002"
    owgw-fileupload:
      loadBalancer:
        servers:
          - address: "owgw.wlan.local:16003"
    owsec-restapi:
      loadBalancer:
        servers:
          - address: "owsec.wlan.local:16001"
    owfms-restapi:
      loadBalancer:
        servers:
          - address: "owfms.wlan.local:16004"
    owprov-restapi:
      loadBalancer:
        servers:
          - address: "owprov.wlan.local:16005"
    owanalytics-restapi:
      loadBalancer:
        servers:
          - address: "owanalytics.wlan.local:16009"
    rttys-dev:
      loadBalancer:
        servers:
          - address: "rttys.wlan.local:5912"
    rttys-user:
      loadBalancer:
        servers:
          - address: "rttys.wlan.local:5913"

  routers:
    owgw-websocket:
      entryPoints: "owgwwebsocket"
      service: "owgw-websocket"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owgw-restapi:
      entryPoints: "owgwrestapi"
      service: "owgw-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owgw-fileupload:
      entryPoints: "owgwfileupload"
      service: "owgw-fileupload"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owsec-restapi:
      entryPoints: "owsecrestapi"
      service: "owsec-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owfms-restapi:
      entryPoints: "owfmsrestapi"
      service: "owfms-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owprov-restapi:
      entryPoints: "owprovrestapi"
      service: "owprov-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    owanalytics-restapi:
      entryPoints: "owanalyticsrestapi"
      service: "owanalytics-restapi"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    rttys-dev:
      entryPoints: "rttysdev"
      service: "rttys-dev"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
    rttys-user:
      entryPoints: "rttysuser"
      service: "rttys-user"
      rule: "HostSNI(`*`)"
      tls:
        passthrough: true
