owgw:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16002
    openwifi.system.uri.private: http://owgw-owgw:17002
    openwifi.system.uri.ui: http://localhost

owsec:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16001
    openwifi.system.uri.private: http://owsec-owsec:17001
    openwifi.system.uri.ui: http://localhost

owfms:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16004
    openwifi.system.uri.private: http://owfms-owfms:17004
    openwifi.system.uri.ui: http://localhost

owprov:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16005
    openwifi.system.uri.private: http://owprov-owprov:17005
    openwifi.system.uri.ui: http://localhost

owanalytics:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16009
    openwifi.system.uri.private: http://owanalytics-owanalytics:17009
    openwifi.system.uri.ui: http://localhost

owsub:
  existingCertsSecret: openwifi-certs

  configProperties:
    openwifi.security.restapi.disable: "true"
    openwifi.system.uri.public: http://localhost:16006
    openwifi.system.uri.private: http://owsub-owsub:17006
    openwifi.system.uri.ui: http://localhost

owrrm:
  public_env_variables:
    SELFSIGNED_CERTS: "true"
    KAFKACONFIG_BOOTSTRAPSERVER: kafka:9092
    DATABASECONFIG_SERVER: owrrm-mysql:3306
    DATABASECONFIG_DBNAME: owrrm
    DATABASECONFIG_DATARETENTIONINTERVALDAYS: "1"

  secret_env_variables:
    DATABASECONFIG_USER: root
    DATABASECONFIG_PASSWORD: openwifi

  mysql:
    enabled: true
    fullnameOverride: "owrrm-mysql"

owgwui:
  public_env_variables:
    REACT_APP_UCENTRALSEC_URL: http://localhost:16001

owprovui:
  public_env_variables:
    REACT_APP_UCENTRALSEC_URL: http://localhost:16001

kafka:
  volumePermissions:
    enabled: true
  commonAnnotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
  readinessProbe:
    initialDelaySeconds: 45
  livenessProbe:
    initialDelaySeconds: 60
  kraft:
    enabled: true
  heapOpts: -Xmx1024m -Xms1024m
  zookeeper:
    enabled: false
  controller:
    replicaCount: 1
    extraConfig: |-
      maxMessageBytes = 1048588
    extraEnvVars:
      - name: ALLOW_PLAINTEXT_LISTENER
        value: "yes"
  listeners:
    client:
      protocol: PLAINTEXT
      containerPort: 9092
    controller:
      protocol: "PLAINTEXT"
  broker:
    persistence:
      size: 20Gi
    replicaCount: 2
