name: CI

on:
  push:
    tags:
      - 'v*'
      - '!v*-RC*'
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  envs:
    name: Setup environment variables for further tests
    if: startsWith(github.ref, 'refs/pull/') || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    outputs:
      pr_branch: ${{ steps.get_branch_names.outputs.pr_branch }}
      deployment_upgrade_tag: ${{ steps.get_deployment_upgrade_tag.outputs.tag }}
      deployment_tag: ${{ steps.get_deployment_tag.outputs.tag }}
    steps:
    - name: Get branch names and set as outputs
      id: get_branch_names
      if: startsWith(github.ref, 'refs/pull/')
      run: |
        echo ::set-output name=pr_branch::$(echo ${GITHUB_HEAD_REF})

    - name: Get created deployment tag and set as output
      id: get_deployment_upgrade_tag
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        echo ::set-output name=tag::$(echo ${GITHUB_REF#refs/tags/})

    - name: Get previous deployment tag
      id: get_deployment_tag
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        echo ::set-output name=tag::$(git tag | grep -v RC | tail -2 | head -1)

  trigger-docker-compose-testing:
    if: startsWith(github.ref, 'refs/pull/')
    runs-on: ubuntu-latest
    needs: envs
    steps:
    - name: Checkout actions repo
      uses: actions/checkout@v2
      with:
        repository: Telecominfraproject/.github
        path: github

    - name: Trigger testing of OpenWifi Docker Compose deployment and wait for result
      uses: ./github/composite-actions/trigger-workflow-and-wait
      env:
        PR_BRANCH: ${{ needs.envs.outputs.pr_branch }}
      with:
        owner: Telecominfraproject
        repo: wlan-testing
        workflow: ow_docker-compose.yml
        token: ${{ secrets.WLAN_TESTING_PAT }}
        ref: master
        inputs: '{"deployment_version": "${{ env.PR_BRANCH }}", "microservice": "all"}'

  trigger-k8s-testing:
    if: startsWith(github.ref, 'refs/pull/')
    runs-on: ubuntu-latest
    needs: envs
    steps:
    - name: Checkout actions repo
      uses: actions/checkout@v2
      with:
        repository: Telecominfraproject/.github
        path: github

    - name: Trigger testing of OpenWifi Docker Compose deployment and wait for result
      uses: ./github/composite-actions/trigger-workflow-and-wait
      env:
        PR_BRANCH: ${{ needs.envs.outputs.pr_branch }}
      with:
        owner: Telecominfraproject
        repo: wlan-testing
        workflow: ow_k8s.yml
        token: ${{ secrets.WLAN_TESTING_PAT }}
        ref: master
        inputs: '{"deployment_version": "${{ env.PR_BRANCH }}", "microservice": "all"}'

  trigger-docker-compose-upgrade-testing:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: env
    steps:
    - name: Checkout actions repo
      uses: actions/checkout@v2
      with:
        repository: Telecominfraproject/.github
        path: github

    - name: Trigger testing of OpenWifi Docker Compose deployment upgrade and wait for result
      uses: ./github/composite-actions/trigger-workflow-and-wait
      env:
        DEPLOYMENT_TAG: ${{ needs.envs.outputs.deployment_tag }}
        DEPLOYMENT_UPGRADE_TAG: ${{ needs.envs.outputs.deployment_upgrade_tag }}
      with:
        owner: Telecominfraproject
        repo: wlan-testing
        workflow: ow_docker-compose-upgrade-test.yml
        token: ${{ secrets.WLAN_TESTING_PAT }}
        ref: master
        inputs: '{"deployment_version": "${{ env.DEPLOYMENT_TAG }}", "deployment_upgrade_version": "${{ env.DEPLOYMENT_UPGRADE_TAG }}"}'
